/* Login Container */
#login-container {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 5px black solid;
    height: 300px;
    margin-left: 75px;
    margin-right: 75px;
    border-radius: 1%;
    box-shadow: 2px 2px 7px black;
}

form,input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    align-content: center;
    border: 2px solid black;
}

label {
    text-align: center;
}

input {
    width: 200px;
    height: 25px;
}

button {
    height: 35px;
    width: 125px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 5px;
}

button:hover {
    cursor: pointer;
    font-weight: 700;
}